<%- include("partials/header.ejs") %>

<div class="intro" style="background-image: url('/images/p5_1.png');">
    
</div>

<div class="bottom-container">
    <div class="content">
        <div id="avatar">
            <img src="/images/selfie_cartoon.png" alt="avatar">
        </div>
        <div id="author-info">
            <div id="author-name">Ziqing Yan</div>
            <div id="author-role">Web developer</div>
        </div>
        <div id="self-intro">
            Love bouldering, board game and sleep.
        </div>
        <div id="project-info">
            <div class="subtitle">
                <i class="bi bi-buildings"></i>
                My projects
            </div>
            <div class="row projects">
                <div class="col s12 m6 text-center">
                    <a style="background-color: #198754;" class="icon" href="https://github.com/Haruko-Yan/personal-website"><i class="bi bi-person-workspace"></i></a>
                    <a class="project-title" href="https://github.com/Haruko-Yan/personal-website">Personal-website</a>
                    <div class="project-desc">This is my personal website (this website)</div>
                </div>
                <div class="col s12 m6 text-center">
                    <a style="background-color: #ffc107;" class="icon" href="https://github.com/Haruko-Yan/b_plus_tree_index-implementation"><i class="bi bi-database"></i></a>
                    <a class="project-title" href="https://github.com/Haruko-Yan/b_plus_tree_index-implementation">B+-tree-index-implementation</a>
                    <div class="project-desc">Implementation of B+-tree index in heap files and range query</div>
                </div>
            </div>
        </div>
        <div id="skill-info">
            <div class="subtitle">
                <i class="bi bi-hammer"></i>
                My skills
            </div>
            <div class="text-center skills">
                <button type="button" class="btn btn-primary">Java</button>
                <button type="button" class="btn btn-secondary">Javascript</button>
                <button type="button" class="btn btn-success">React</button>
                <button type="button" class="btn btn-danger">Node.js</button>
                <button type="button" class="btn btn-warning">jQuery</button>
                <button type="button" class="btn btn-info">MongoDB</button>
                <button type="button" class="btn btn-primary">SQL</button>
                <button type="button" class="btn btn-secondary">HTML</button>
                <button type="button" class="btn btn-success">CSS</button>
                <button type="button" class="btn btn-danger">Data pre-processing</button>
            </div>
        </div>
    </div>
</div>
    

<%- include("partials/footer.ejs") %>