<%- include("partials/header.ejs") %>

<div class="intro" style="background-image: url('/images/p5_1.png');">
    
</div>

<div class="bottom-container">
    <div class="content">
        <div id="avatar">
            <img src="/images/selfie_cartoon.png" alt="avatar">
        </div>
        <div id="author-info">
            <div id="author-name">Ziqing Yan</div>
            <div id="author-role">Full Stack Engineer</div>
        </div>
        <div id="self-intro">
            <h5>I am passionate about making software and willing to work in a team.🙂</h5>
            <h5>I am actively seeking for either an internship or full-time role.🧐</h5>
            <h5>Love Sports, especially bouldering🧗, hiking🥾 and cycling🚴!</h5>
        </div>
        <div id="project-info">
            <div class="subtitle">
                <i class="bi bi-buildings"></i>
                My projects
            </div>
            <div class="row projects">
                <div class="col s12 m6 text-center">
                    <a style="background-color: #198754;" class="icon" href="https://github.com/Haruko-Yan/personal-website"><i class="bi bi-person-workspace"></i></a>
                    <a class="project-title" href="https://github.com/Haruko-Yan/personal-website">Personal-website</a>
                    <div class="project-desc">This is my personal website (this website)</div>
                </div>
                <div class="col s12 m6 text-center">
                    <a style="background-color: #ffc107;" class="icon" href="https://github.com/Haruko-Yan/b_plus_tree_index-implementation"><i class="bi bi-database"></i></a>
                    <a class="project-title" href="https://github.com/Haruko-Yan/b_plus_tree_index-implementation">B+-tree-index-implementation</a>
                    <div class="project-desc">Implementation of B+-tree index in heap files and range query</div>
                </div>
            </div>
        </div>
        <div id="skill-info">
            <div class="subtitle">
                <i class="bi bi-hammer"></i>
                My skills
            </div>
            <div class="text-center skills">
                <ul class="skill-list">
                    <h4>Languages</h4>
                    <li class="skill-item" style="background-image: url(/images/Java_logo.svg);" title="Java"></li>
                    <li class="skill-item" style="background-image: url(/images/JavaScript_logo.png);" title="JavaScript"></li>
                    <li class="skill-item" style="background-image: url(/images/Sql_logo.png);" title="SQL"></li>
                    <li class="skill-item" style="background-image: url(/images/Python_logo.svg);" title="Python"></li>
                    <li class="skill-item" style="background-image: url(/images/Bash_logo.svg);" title="Bash"></li>
                    <li class="skill-item" style="background-image: url(/images/HTML5_logo.svg);" title="HTML"></li>
                    <li class="skill-item" style="background-image: url(/images/CSS3_logo.svg);" title="CSS"></li>
                </ul>
                <ul class="skill-list">
                    <h4>Frameworks</h4>
                    <li class="skill-item" style="background-image: url(/images/React_logo.svg);" title="React"></li>
                    <li class="skill-item" style="background-image: url(/images/Expressjs_logo.png);" title="Express"></li>
                    <li class="skill-item" style="background-image: url(/images/Bootstrap_logo.svg);" title="Bootstrap"></li>
                    <li class="skill-item" style="background-image: url(/images/flask_logo.svg);" title="Flask"></li>
                </ul>
                <ul class="skill-list">
                    <h4>Databases</h4>
                    <li class="skill-item" style="background-image: url(/images/MySQL_logo.svg);" title="MySQL"></li>
                    <li class="skill-item" style="background-image: url(/images/mongodb_logo.svg);" title="MongoDB"></li>

                </ul>
                <ul class="skill-list">
                    <h4>Others</h4>
                    <li class="skill-item" style="background-image: url(/images/Amazon_Web_Services_Logo.svg);" title="AWS"></li>
                    <li class="skill-item" style="background-image: url(/images/docker_logo.svg);" title="Docker"></li>
                    <li class="skill-item" style="background-image: url(/images/Git_logo.svg);" title="Git"></li>
                    <li class="skill-item" style="background-image: url(/images/jira_logo.svg);" title="Jira"></li>
                    <li class="skill-item" style="background-image: url(/images/Node.js_logo.svg);" title="Nodejs"></li>
                    <li class="skill-item" style="background-image: url(/images/Npm_logo.svg);" title="NPM"></li>
                    <li class="skill-item" style="background-image: url(/images/postman_icon.svg);" title="Postman"></li>
                </ul>
                <!-- <button type="button" class="btn btn-primary">Java</button>
                <button type="button" class="btn btn-secondary">Javascript</button>
                <button type="button" class="btn btn-success">React</button>
                <button type="button" class="btn btn-danger">Node.js</button>
                <button type="button" class="btn btn-warning">jQuery</button>
                <button type="button" class="btn btn-info">MongoDB</button>
                <button type="button" class="btn btn-primary">SQL</button>
                <button type="button" class="btn btn-secondary">HTML</button>
                <button type="button" class="btn btn-success">CSS</button>
                <button type="button" class="btn btn-danger">Data pre-processing</button> -->
            </div>
        </div>
    </div>
</div>
    

<%- include("partials/footer.ejs") %>