<%- include("partials/manageHeader.ejs") %>

<div class="container">
    <form action="http://image.ziqingyan.tech/publish" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control author" id="author" value="Ziqing Yan" name="author">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control title" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="tag" class="form-label">Tags (Separate by space)</label>
            <input type="text" class="form-control" id="tag" name="tag">
        </div>
        
        <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <textarea class="form-control text" id="text" name="text" rows="3"></textarea>
            <div class="mb-3">
                <label for="uploadedImages" class="form-label">Upload your images:</label>
                <input class="form-control uploadedImages" type="file" id="uploadedImages" name="images" accept="image/*" multiple>
            </div>
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>

<%- include("partials/manageFooter.ejs") %>